.section-header {
    display: inline;
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
    color: #7b7b7b;
    border: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-left: 15px;
}

.menu-icon {
    font-size: 23px !important;
    padding-right: 10px;
    vertical-align: middle;
}

.submenu ul {
    padding-left: 20px !important;
}

.nav-menu-item {
    margin: 20px 0;
}